# === Настройки основной базы данных (PostgreSQL) ===
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=bitpulse_db
DB_HOST=postgres
DB_PORT=5432

# === Настройки тестовой базы данных ===
# Используется отдельный порт и имя сервиса для Docker-окружения
TEST_DB_USER=postgres_test
TEST_DB_PASSWORD=postgres_test
TEST_DB_NAME=bitpulse_test
TEST_DB_PORT=5433
TEST_REDIS_URL=redis://redis:6379/1

# === Настройки авторизации (JWT) ===
# Сгенерируйте новый ключ командой: openssl rand -hex 32
SECRET_KEY=your_secret_key_here
ALGORITHM=HS256

# === URL подключения (SQLAlchemy) ===
# Для асинхронного драйвера asyncpg
DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
# Для alembic
DATABASE_URL_SYNC=postgresql+psycopg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
# URL для тестовой среды (GitHub Actions / Local Tests)
TEST_DATABASE_URL=postgresql+asyncpg://postgres_test:postgres_test@test_db:5432/bitpulse_test

# === Настройки Redis ===
# Используется как брокер Celery и кэш
REDIS_URL=redis://redis:6379/0
REDIS_TTL_TIKERS=3000

# === Настройки Elasticsearch ===
ELASTICSEARCH_URL=http://elasticsearch:9200

# === Настройки Telegram бота ===
BOT_USERNAME=your_bot_username
TELEGRAM_BOT_TOKEN=your_bot_token_here

# === Настройки Rate Limiter (Token Bucket) ===
# Лимит запросов: сколько токенов добавляется в секунду и макс. размер корзины
TOKENS_PER_SECOND=1
BUCKET_CAPACITY=10
